apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-practice-app # I changed the name so it doesn't conflict
  namespace: argocd
spec:
  project: default
  source:
    # CHANGE THIS TO YOUR REPO URL
    repoURL: https://github.com/lucascardosobarbeiro/git-ops-exe.git
    targetRevision: main
    path: guestbook # This must match the folder name in Step 1
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
